body {
  align-items: stretch;
  display: flex;
  justify-content: center;
  margin: 0px;
}

header {
  background-color: green;
  display: flex;
  flex-direction: row;
  height: 50px;
}

header h4 {
  align-self: flex-start;
  margin: 0px;
}

header button {
  display: none;
}

header ul {
  align-self: flex-end;
  display: inline-flex;

}

.container {
  background-color: red;
  box-sizing: border-box;
  width:1200px;
}