:root {
  --fn-titles: 'lobster', cursive;
  --fn-text: 'roboto', sans-serif;
  --fn-color: #141823;
  --clr-light-purp: #ac8dcc;
  --clr-medium-purp: #886FA1;
  --clr-dark-purp:  #593280;
  --clr-white:  #fff;
  --clr-grey:  #F5F5F5;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: var(--fn-text);
  font-size: 16px;
  color: var(--fn-color);
}

ul {
  list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--fn-color);
}

.container {
    padding: 0 2.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.navigation {
  background-color: var(--clr-grey);
  border-color: var(--clr-dark-purp);
  border-style: solid;
  border-width: 1px 0;
  position: sticky;
  top: 0;
  opacity: 0.7;
}

.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navigation-list__link {
  padding: .2em .3em;
  font-size: 1.3rem;
  font-family: var(--fn-titles);
  font-weight: bold;
}

.navigation-list__link:hover {
  background-color: var(--clr-light-purp);
}

.hero {
  height: 100vh;
  min-height: 570px;
  background: linear-gradient(to bottom, var(--clr-medium-purp), var(--clr-grey));
  padding-top: 15%;
}

.hero__pic {
  width: auto;
  height: 200px;
  border-radius: 25%;
  border: 1px solid var(--clr-dark-purp);
  display: block;
  margin: 0 auto;
}

.hero__text-name {
  font-family: var(--fn-titles);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: .8em;
  margin: .1em 0;
}

.hero__text-title {
  text-align: center;
}

.content {
  min-height: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: .1px solid white;
}

.content:nth-child(odd) {
  background-color: var(--clr-grey)
}

.content__title {
  color: var(--clr-dark-purp);
  font-family: var(--fn-titles);
  font-size: 2.5rem;
  margin: .2em;
  text-align: center;
}

.about__img {
  height: 70px;
  width: 100%;
  margin: 0 auto 1.2rem auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}

.about__img[bg-img="chart"] {
  background-image: url("images/Tables-charts-graphs.jpg");
}

.about__img[bg-img=helix] {
  background-image: url("images/DNA-purple-banner_900px-858x286.png");
}

#links {
  background-color: var(--clr-medium-purp);
}

.external-link {
  margin-bottom: 1rem;
  color: var(--clr-dark-purp);
}

.external-link p {
  text-align: center;
}

.link-icon {
  height: 30px;
  width: 30px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}

.link-icon[icon="email"] {
  background-image: url("images/iconmonstr-email-10.svg");
}

.link-icon[icon="pdf"] {
  background-image: url("images/iconmonstr-file-33.svg");
}

.link-icon[icon="linkedin"] {
  background-image: url("images/iconmonstr-linkedin-4.svg");
}

.link-icon[icon="github"] {
  background-image: url("images/iconmonstr-github-4.svg");
}

.link-icon[icon="medium"] {
  background-image: url("images/iconmonstr-medium-4.svg");
}
